<form (ngSubmit)="onButtonClicked()">
    <div>
        <label for="name">
            Name:
        </label>
        <input id="name" name="name" type="text" [(ngModel)]="name" />
    </div>
    <div>
        <label for="description">
            Item Description:
        </label>
        <input id="description" name="description" type="text" [(ngModel)]="description" />
    </div>
    <div>
        <label for="price">
            Price:
        </label>
        <input id="price" name="price" type="text" [(ngModel)]="price" />
    </div>
    <button type="submit">{{buttonText}}</button>
</form>